
-- Enable RLS just in case (already true but good practice)
ALTER TABLE users ENABLE ROW LEVEL SECURITY;
ALTER TABLE branches ENABLE ROW LEVEL SECURITY;
ALTER TABLE doctors ENABLE ROW LEVEL SECURITY;
ALTER TABLE appointments ENABLE ROW LEVEL SECURITY;

-- 1. Branches & Doctors (Public Read)
CREATE POLICY "Public read access to branches" ON branches FOR SELECT USING (true);
CREATE POLICY "Public read access to doctors" ON doctors FOR SELECT USING (true);

-- 2. Users (Authenticated Self Access)
CREATE POLICY "Users can insert their own profile" ON users FOR INSERT WITH CHECK (auth.uid() = id);
CREATE POLICY "Users can view their own profile" ON users FOR SELECT USING (auth.uid() = id);
CREATE POLICY "Users can update their own profile" ON users FOR UPDATE USING (auth.uid() = id);

-- 3. Appointments (Authenticated Self Access)
CREATE POLICY "Users can view their own appointments" ON appointments FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY "Users can insert their own appointments" ON appointments FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Users can update their own appointments" ON appointments FOR UPDATE USING (auth.uid() = user_id);

-- 4. Storage Objects (Medical Reports Bucket)
-- Enable RLS on storage.objects if not already
-- Allow authenticated users to upload files to medical-reports
CREATE POLICY "Users can upload to medical-reports" ON storage.objects FOR INSERT WITH CHECK (bucket_id = 'medical-reports' AND auth.role() = 'authenticated');
CREATE POLICY "Access to medical-reports objects" ON storage.objects FOR SELECT USING (bucket_id = 'medical-reports');

