
INSERT INTO branches (branch_name, city, description, image_url) 
VALUES ('Central City Hospital', 'Kolkata', 'Premium care in the heart of Kolkata.', 'https://images.unsplash.com/photo-1587351021759-3e566b6af7cc?w=800&q=80');

INSERT INTO branches (branch_name, city, description, image_url) 
VALUES ('Apollo Health City', 'Delhi', 'State-of-the-art facilities.', 'https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d?w=800&q=80');

INSERT INTO branches (branch_name, city, description, image_url) 
VALUES ('Lifeline Medical', 'Mumbai', '24/7 Emergency Care.', 'https://images.unsplash.com/photo-1538108149393-fbbd81895907?w=800&q=80');

INSERT INTO doctors (branch_id, department, doctor_name, specialization, experience, qualification, consultation_fee, available_days, image_url)
SELECT id, 'Cardiology', 'Dr. Rajeev Sharma', 'Senior Cardiologist', '15 Years', 'MBBS, MD', 50, ARRAY['Mon', 'Wed', 'Fri'], 'https://images.unsplash.com/photo-1612349317150-e413f6a5b16d?w=400&q=80'
FROM branches WHERE city = 'Kolkata';

INSERT INTO doctors (branch_id, department, doctor_name, specialization, experience, qualification, consultation_fee, available_days, image_url)
SELECT id, 'Gynecology', 'Dr. Meera Patel', 'Obstetrician & Gynecologist', '10 Years', 'MBBS, MS', 40, ARRAY['Tue', 'Thu', 'Sat'], 'https://images.unsplash.com/photo-1559839734-2b71ea197ec2?w=400&q=80'
FROM branches WHERE city = 'Kolkata';

INSERT INTO doctors (branch_id, department, doctor_name, specialization, experience, qualification, consultation_fee, available_days, image_url)
SELECT id, 'Ophthalmology', 'Dr. Amit Singh', 'Eye Surgeon', '8 Years', 'MBBS, DO', 30, ARRAY['Mon', 'Tue', 'Wed', 'Thu', 'Fri'], 'https://images.unsplash.com/photo-1622253692010-333f2da6031d?w=400&q=80'
FROM branches WHERE city = 'Delhi';

